In [31]:
import pandas as pd
from tabula.io import read_pdf
from functools import reduce
from geopy.geocoders import Nominatim

In [32]:
pdf_list=read_pdf('elenco.pdf', pages='all')

In [33]:
len(pdf_list)
pdf_list[1].columns
df=pd.concat(pdf_list[1:13], axis=0)
df.columns=['CODICE COMPLESSO', 'DENOMINAZIONE COMPLESSO', 'CODICE EDIFICIO',
            'DENOMINAZIONE EDIFICIO', 'INDIRIZZO', 'CIVICO', 'COMUNE', 'CONDOMINIO']
df.head()

,CODICE COMPLESSO,DENOMINAZIONE COMPLESSO,CODICE EDIFICIO,DENOMINAZIONE EDIFICIO,INDIRIZZO,CIVICO,COMUNE,CONDOMINIO
0,100017,PONTI,10001708,DEL TURCHINO 20 C-D (VIA),VIA DEL TURCHINO,20,MILANO,NaN
1,100017,PONTI,10001709,DEL TURCHINO 20 E-F (VIA),VIA DEL TURCHINO,20,MILANO,NaN
2,100017,PONTI,10001710,DEL TURCHINO 20 G (VIA),VIA DEL TURCHINO,20,MILANO,NaN
3,100017,PONTI,10001711,DEL TURCHINO 20 H (VIA),VIA DEL TURCHINO,20,MILANO,NaN
4,100017,PONTI,10001712,DEL TURCHINO 22 A (VIA),VIA DEL TURCHINO,22,MILANO,NaN

In [34]:
len(df)

980

In [35]:
df['full_address']=df['INDIRIZZO']+" "+df['CIVICO'].astype(str)+" "+df['COMUNE']
df.head()

,CODICE COMPLESSO,DENOMINAZIONE COMPLESSO,CODICE EDIFICIO,DENOMINAZIONE EDIFICIO,INDIRIZZO,CIVICO,COMUNE,CONDOMINIO,full_address
0,100017,PONTI,10001708,DEL TURCHINO 20 C-D (VIA),VIA DEL TURCHINO,20,MILANO,NaN,VIA DEL TURCHINO 20 MILANO
1,100017,PONTI,10001709,DEL TURCHINO 20 E-F (VIA),VIA DEL TURCHINO,20,MILANO,NaN,VIA DEL TURCHINO 20 MILANO
2,100017,PONTI,10001710,DEL TURCHINO 20 G (VIA),VIA DEL TURCHINO,20,MILANO,NaN,VIA DEL TURCHINO 20 MILANO
3,100017,PONTI,10001711,DEL TURCHINO 20 H (VIA),VIA DEL TURCHINO,20,MILANO,NaN,VIA DEL TURCHINO 20 MILANO
4,100017,PONTI,10001712,DEL TURCHINO 22 A (VIA),VIA DEL TURCHINO,22,MILANO,NaN,VIA DEL TURCHINO 22 MILANO

In [36]:
geolocator = Nominatim(user_agent="myApp")

def geo_lat(lat):
    try:
        return geolocator.geocode(lat).latitude
    except:
        return 'not found'

def geo_long(long):
    try:
        return geolocator.geocode(long).longitude
    except:
        return 'not found'

In [37]:
df['lat']=df['full_address'].apply(lambda x: geo_lat(x))
df['lon']=df['full_address'].apply(lambda x: geo_long(x))

In [38]:
(df.lat=='not found').sum()

116

In [39]:
df

,CODICE COMPLESSO,DENOMINAZIONE COMPLESSO,CODICE EDIFICIO,DENOMINAZIONE EDIFICIO,INDIRIZZO,CIVICO,COMUNE,CONDOMINIO,full_address,lat,lon
0,100017,PONTI,10001708,DEL TURCHINO 20 C-D (VIA),VIA DEL TURCHINO,20,MILANO,NaN,VIA DEL TURCHINO 20 MILANO,45.451893,9.228053
1,100017,PONTI,10001709,DEL TURCHINO 20 E-F (VIA),VIA DEL TURCHINO,20,MILANO,NaN,VIA DEL TURCHINO 20 MILANO,45.451893,9.228053
2,100017,PONTI,10001710,DEL TURCHINO 20 G (VIA),VIA DEL TURCHINO,20,MILANO,NaN,VIA DEL TURCHINO 20 MILANO,45.451893,9.228053
3,100017,PONTI,10001711,DEL TURCHINO 20 H (VIA),VIA DEL TURCHINO,20,MILANO,NaN,VIA DEL TURCHINO 20 MILANO,45.451893,9.228053
4,100017,PONTI,10001712,DEL TURCHINO 22 A (VIA),VIA DEL TURCHINO,22,MILANO,NaN,VIA DEL TURCHINO 22 MILANO,45.451893,9.228053
...,...,...,...,...,...,...,...,...,...,...,...
2,510394,SENIGALLIA,51039405,SENIGALLIA - CORPO F,VIA SENIGALLIA,60/G,MILANO,NaN,VIA SENIGALLIA 60/G MILANO,45.532143,9.16897
3,510394,SENIGALLIA,51039406,SENIGALLIA - CORPO P1,VIA SENIGALLIA,60,MILANO,NaN,VIA SENIGALLIA 60 MILANO,45.532143,9.16897
4,510394,SENIGALLIA,51039407,SENIGALLIA - CORPO P2,VIA SENIGALLIA,60,MILANO,NaN,VIA SENIGALLIA 60 MILANO,45.532143,9.16897
5,510394,SENIGALLIA,51039408,SENIGALLIA - CORPO P3,VIA SENIGALLIA,60,MILANO,NaN,VIA SENIGALLIA 60 MILANO,45.532143,9.16897
6,510394,SENIGALLIA,51039410,POSTI AUTO SCOPERTI,VIA SENIGALLIA,60,MILANO,NaN,VIA SENIGALLIA 60 MILANO,45.532143,9.16897

In [40]:
df.to_csv('mm_dataset.csv')