In [93]:
import pandas as pd
import numpy as np

In [94]:
mm_df=pd.read_csv('../outputs/mm_dataset.csv')
mm_df = mm_df.replace('not found', np.nan)

# Individual dataset cleaning

### Cultural points

In [95]:
cult_df=pd.read_csv('../datasets/beni-culturali-siti-nel-comune-di-milano_c23i-gtvh.csv', sep=';')
cult_df.head()

,IDBENE,CATEGORIA,DENOMINAZIONE,DEFINIZIONE,AUTORE,EPOCA,PROVINCIA,SIGLAPROVINCIA,CODICECOMUNE,LOCALITA,...,TIPOSCHEDA_SIRBEC,IDBENE_COLLEZIONE,IDBENE_MUSEO,IDBENE_ARCHITETTURA,IDBENE_BORGO,IDBENE_COMPLESSO,IDBENE_EDIFICIO,WGS84_Y,WGS84_X,LOCATION
0,7089,Capolavori,NaN,tappeto,ambito Persia nord occidentale,1542 - 1543,Milano,MI,15146,NaN,...,OA,6851.0,6810.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6962,Capolavori,Eracle e figure di divinità,altare,produzione romana,I sec. d.C. - III sec. d.C.,Milano,MI,15146,NaN,...,RA,6846.0,6803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6920,Capolavori,NaN,deltaplano,Icaro 2000 (1973-),sec. XIX,Milano,MI,15146,NaN,...,PST,6867.0,6812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6924,Capolavori,NaN,macchina per la colata continua,"Properzi, Ilario (1897-1976)",1947 - 1948,Milano,MI,15146,NaN,...,PST,6867.0,6812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7047,Capolavori,guerriero,vaso,cultura Huari,500 - 900,Milano,MI,15146,NaN,...,OA,6866.0,6807.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
cult_df=cult_df[['DENOMINAZIONE', 'CATEGORIA', 'DEFINIZIONE', 'WGS84_X', 'WGS84_Y']]
cult_len=len(cult_df)
cult_df.head()

,DENOMINAZIONE,CATEGORIA,DEFINIZIONE,WGS84_X,WGS84_Y
0,NaN,Capolavori,tappeto,NaN,NaN
1,Eracle e figure di divinità,Capolavori,altare,NaN,NaN
2,NaN,Capolavori,deltaplano,NaN,NaN
3,NaN,Capolavori,macchina per la colata continua,NaN,NaN
4,guerriero,Capolavori,vaso,NaN,NaN

### Libraries

In [97]:
biblio_df=pd.read_csv('../datasets/biblioteche.csv', sep=';')
biblio_df.head()

,Biblioteche - Sede,Indirizzo,CAP,telefono,Orari,E-mail,Mezzi pubblici,Note,MUNICIPIO,ID_NIL,NIL,long,lat,Location
0,Accursio,Piazzale Accursio 5,20151,02 88464300,"lunedi: chiuso, martedi e giovedi: 9.30-14.30,...",c.biblioaccursio@comune.milano.it,"bus 48, 57, 69, 90, 91 / tram 14, 1",Ritiro prenotazioni su appuntamento,8,71,VILLAPIZZONE - CAGNOLA - BOLDINASCO,9.146150,45.491398,"(45.491398, 9.14615)"
1,Affori,Viale Affori 21,20161,0288462522 - 0288462526,"lunedi: chiuso, martedi e giovedi:14.00-19.00,...",c.biblioaffori@comune.milano.it,n.d.,Ritiro prenotazioni su appuntamento,9,80,AFFORI,9.167394,45.516629,"(45.516629, 9.167394)"
2,Baggio (sede provv. P.zza Stovani 3),sede provv. P.zza Stovani 3,20153,02 88465804,"lunedi: chiuso, martedi e giovedi:9.00-13.30, ...",c.bibliobaggio@comune.milano.it,n.d.,per ritirare le prenotazioni o accedere agli s...,7,55,BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA,9.091209,45.463178,"(45.463178, 9.091209)"
3,Bibliobus,Via Bezzecca 18,20135,3357762410,Dal lunedi al sabato dalle 9.00 alle 12.30,c.bibliobus@comune.milano.it,n.d.,sara' possibile ritirare i libri prenotati pri...,4,26,XXII MARZO,9.213189,45.460661,"(45.460661, 9.213189)"
4,Biblioteca Crescenzago (sede provv. P.le Gover...,sede provv. P.le Governo Provvisorio 9,20123,02 88465808,"lunedi: chiuso, martedi:9.30-14.30, mercoledi ...",c.bibliocrescenzago@comune.milano.it,"bus 44, 51, 53, 56, 75 / M2 (Cimiano)",Ritiro prenotazioni su appuntamento,2,19,PADOVA - TURRO - CRESCENZAGO,9.225293,45.498250,"(45.49825, 9.225293)"

In [98]:
biblio_df=biblio_df[['Biblioteche - Sede', 'long', 'lat']]
biblio_len=len(biblio_df)
biblio_df.head()

                                  Biblioteche - Sede      long        lat
0                                           Accursio  9.146150  45.491398
1                                             Affori  9.167394  45.516629
2               Baggio (sede provv. P.zza Stovani 3)  9.091209  45.463178
3                                          Bibliobus  9.213189  45.460661
4  Biblioteca Crescenzago (sede provv. P.le Gover...  9.225293  45.498250

### Bike Lanes

Bike lanes coordinates are based on the center of the total length of the bike lane. This dataset will need a better implementation in the future considering all length

In [99]:
ciclabili_df=pd.read_csv('../datasets/bike_ciclabili.csv', sep=';')
ciclabili_df.head()

,id_amat,id_via,anagrafica,gerarchia,rete,tipologia,sede,marcia,norma,lunghezza,LONG_X_4326_CENTROID,LAT_Y_4326_CENTROID,Location
0,9001,1064.0,PIAZZA VENTICINQUE APRILE,NaN,urbana,promiscuo pedoni,attraversamento,bidirezionale,attraversamento - generico,8,9.187031,45.480988,"(45.4809876471498, 9.1870305186785)"
1,9002,3377.0,VIA GIACOMO MEDICI DEL VASCELLO,NaN,ciclabile,ciclabile sede propria,marciapiede,monodirezionale - concorde,ordinanza lavori stradali,7,9.241945,45.439272,"(45.4392715546864, 9.24194464907128)"
2,9003,3377.0,VIA GIACOMO MEDICI DEL VASCELLO,NaN,ciclabile,ciclabile sede propria,marciapiede,monodirezionale - concorde,ordinanza lavori stradali,8,9.239956,45.440020,"(45.4400199268851, 9.23995617266987)"
3,9004,3377.0,VIA GIACOMO MEDICI DEL VASCELLO,NaN,ciclabile,ciclabile sede propria,marciapiede,monodirezionale - concorde,ordinanza lavori stradali,5,9.239187,45.442770,"(45.442769857648, 9.23918713129895)"
4,9005,3377.0,VIA GIACOMO MEDICI DEL VASCELLO,NaN,ciclabile,ciclabile sede propria,marciapiede,monodirezionale - concorde,ordinanza lavori stradali,3,9.239987,45.440036,"(45.4400362237505, 9.23998716620631)"

In [100]:
ciclabili_df=ciclabili_df[['anagrafica', 'LONG_X_4326_CENTROID', 'LAT_Y_4326_CENTROID']]
ciclabili_len=len(ciclabili_df)
ciclabili_df.head()

                        anagrafica  LONG_X_4326_CENTROID  LAT_Y_4326_CENTROID
0        PIAZZA VENTICINQUE APRILE              9.187031            45.480988
1  VIA GIACOMO MEDICI DEL VASCELLO              9.241945            45.439272
2  VIA GIACOMO MEDICI DEL VASCELLO              9.239956            45.440020
3  VIA GIACOMO MEDICI DEL VASCELLO              9.239187            45.442770
4  VIA GIACOMO MEDICI DEL VASCELLO              9.239987            45.440036

### Filtered water distribution points

In [101]:
acqua_df=pd.read_csv('../datasets/caseacqua_20230213-002801_final.csv', sep=';')
acqua_df.head()

,objectID,CAP,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,6268,20152,7,56,FORZE ARMATE,9.107364,45.456290,"(45.456290384077704, 9.107364204820977)"
1,32317,20147,6,53,LORENTEGGIO,9.125151,45.458188,"(45.45818809353661, 9.12515070197437)"
2,32316,20146,7,52,BANDE NERE,9.136149,45.461792,"(45.461792054001286, 9.136148704614333)"
3,19510,20146,6,49,GIAMBELLINO,9.153322,45.452348,"(45.45234812900838, 9.153321879586946)"
4,5413,20142,5,41,GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE,9.171006,45.408128,"(45.4081280716551, 9.171006044160107)"

In [102]:
acqua_df=acqua_df[['NIL', 'LONG_X_4326', 'LAT_Y_4326']]
acqua_len=len(acqua_df)
acqua_df.head()

                                            NIL  LONG_X_4326  LAT_Y_4326
0                                  FORZE ARMATE     9.107364   45.456290
1                                   LORENTEGGIO     9.125151   45.458188
2                                    BANDE NERE     9.136149   45.461792
3                                   GIAMBELLINO     9.153322   45.452348
4  GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE     9.171006   45.408128

### Sport centers

In [103]:
sport_df=pd.read_csv('../datasets/ds34_impianti_sportivi_final.csv', sep=';')
sport_df.head()

,FAX,Nome,Indirizzo,Zona,info,URL,TELEFONO1,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,NaN,NON ATTRIBUITO,VIA USSI STEFANO 4,9,CENTRO SPORTIVO,NaN,NaN,13,GRECO - SEGNANO,9.208356,45.507102,"(45.5071015469858, 9.20835578748649)"
1,NaN,S.S. BAGGIO 2,VIA OLIVIERI ALESSIO 11,7,CALCIO A 11,NaN,024599310,56,FORZE ARMATE,9.111564,45.465571,"(45.4655714935197, 9.11156409171595)"
2,239210739.0,LIDO DI MILANO,PLE LOTTO LORENZO 15,8,MINI GOLF,www.milanosport.it,0239266100,66,QT 8,9.141940,45.480564,"(45.4805639255761, 9.14194021229098)"
3,NaN,COOP. AGRISPORT SEZIONE CALCIO,VIA DEL RICORDO 58,2,CENTRO SPORTIVO,NaN,0227207742,17,ADRIANO,9.237940,45.509320,"(45.5093199390653, 9.23794027433961)"
4,NaN,SOCIETA GINNASTICA MILANO 2000,VIA MARTIGNONI ADELE 1 A,2,CENTRO SPORTIVO,NaN,02603288,12,MACIACHINI - MAGGIOLINA,9.196138,45.492566,"(45.492566239195, 9.19613835069693)"

In [104]:
sport_df=sport_df[['NIL', 'LONG_X_4326', 'LAT_Y_4326']]
sport_len=len(sport_df)
sport_df.head()

                       NIL  LONG_X_4326  LAT_Y_4326
0          GRECO - SEGNANO     9.208356   45.507102
1             FORZE ARMATE     9.111564   45.465571
2                     QT 8     9.141940   45.480564
3                  ADRIANO     9.237940   45.509320
4  MACIACHINI - MAGGIOLINA     9.196138   45.492566

### High School

In [105]:
ss2_df = pd.read_csv('../datasets/ds78_scuolesecondariesecondogrado_final.csv', sep=';')
ss2_df.head()

,COD_VIA,CIVICO,BARRATO,X,Y,DENOMINAZ,CATEGORIA,TIPOLOGIA,SOTTOTIPO,TIPO_U,...,PARITARIA,NUM_CLASSI,TIPO_IST,ATTIVITA,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,1539,55,NaN,1512581.819,5041068.321,IPAA,ISTRUZIONE,SCUOLE SECONDARIE DI SECONDO GRADO,ISTITUTO ISTRUZIONE SUPERIORE,STUDENTI,...,PARITARIA,7,ISTITUTO ISTRUZIONE SUPERIORE STATALE,DIURNO,9,81,BOVISASCA,9.160751,45.522855,"(45.5228547561716, 9.16075051361466)"
1,5105,2,NaN,1513468.534,5033623.417,IPIA G.FERRARIS-A.PACINOTTI,ISTRUZIONE,SCUOLE SECONDARIE DI SECONDO GRADO,ISTITUTO PROFESSIONALE,STUDENTI,...,PARITARIA,40,ISTITUTO PROFESSIONALE STATALE PER L'INDUSTRIA...,DIURNO,1,7,MAGENTA - S. VITTORE,9.171901,45.455827,"(45.4558270996815, 9.17190097269766)"
2,1296,11,NaN,1513942.334,5038587.551,IPIA E.MARELLI,ISTRUZIONE,SCUOLE SECONDARIE DI SECONDO GRADO,ISTITUTO PROFESSIONALE,STUDENTI,...,PARITARIA,22,ISTITUTO PROFESSIONALE STATALE PER L'INDUSTRIA...,DIURNO,9,79,DERGANO,9.178101,45.500500,"(45.5004997923619, 9.1781010362169)"
3,1296,11,NaN,1513942.334,5038587.551,IPIA E.MARELLI SERALE,ISTRUZIONE,SCUOLE SECONDARIE DI SECONDO GRADO,ISTITUTO PROFESSIONALE,STUDENTI,...,PARITARIA,5,ISTITUTO PROFESSIONALE STATALE PER L'INDUSTRIA...,DIURNO,9,79,DERGANO,9.178101,45.500500,"(45.5004997923619, 9.1781010362169)"
4,1313,30,NaN,1514518.189,5038713.411,ITI GRAFICO PAVONIANO,ISTRUZIONE,SCUOLE SECONDARIE DI SECONDO GRADO,ISTITUTO TECNICO,STUDENTI,...,PRIVATA PARITARIA,5,ISTITUTO TECNICO INDUSTRIALE,DIURNO,9,79,DERGANO,9.185475,45.501621,"(45.5016209396801, 9.18547541140928)"

In [106]:
ss2_df=ss2_df[['DENOMINAZ','POSIZGIURI','TIPO_IST', 'LONG_X_4326', 'LAT_Y_4326']]
ss2_len=len(ss2_df)
ss2_df.head()

,DENOMINAZ,POSIZGIURI,TIPO_IST,LONG_X_4326,LAT_Y_4326
0,IPAA,STATALE,ISTITUTO ISTRUZIONE SUPERIORE STATALE,9.160751,45.522855
1,IPIA G.FERRARIS-A.PACINOTTI,STATALE,ISTITUTO PROFESSIONALE STATALE PER L'INDUSTRIA...,9.171901,45.455827
2,IPIA E.MARELLI,STATALE,ISTITUTO PROFESSIONALE STATALE PER L'INDUSTRIA...,9.178101,45.500500
3,IPIA E.MARELLI SERALE,STATALE,ISTITUTO PROFESSIONALE STATALE PER L'INDUSTRIA...,9.178101,45.500500
4,ITI GRAFICO PAVONIANO,ENTE PRIVATO RELIGIOSO,ISTITUTO TECNICO INDUSTRIALE,9.185475,45.501621

### Universities

In [107]:
uni_df = pd.read_csv('../datasets/ds94_universita__final.csv', sep=';')
uni_df.head()

,COD_VIA,CIVICO,BARRATO,X,Y,DENOMINAZ,CATEGORIA,TIPOLOGIA,SOTTOTIPO,PROPRIETA,...,INDIRIZZO,FACOLTA,T_LAUREA,T_SEDE,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,1523,3,NaN,1.514767e+06,5.039559e+06,UNIVERSITA' DEGLI STUDI DI MILANO,ISTRUZIONE,UNIVERSITA',UNIVERSITA',PUBBLICA,...,PZA OSPEDALE MAGGIORE 3,MEDICINA,CHIRURGIA PLASTICA,EX ISTITUTO,9,14,NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE...,9.188681,45.509230,"(45.5092296526866, 9.18868084450537)"
1,4012,1,NaN,1.515116e+06,5.033571e+06,UNIVERSITA' DEGLI STUDI DI MILANO,ISTRUZIONE,UNIVERSITA',UNIVERSITA',PUBBLICA,...,PZA FERRARI ANDREA CARDINALE 1,MEDICINA,"SCIENZE ORTOPEDICHE TRAUMATOLOGICHE, REUMATOLO...",EX ISTITUTO,1,5,PORTA VIGENTINA - PORTA LODOVICA,9.192973,45.455318,"(45.4553179955712, 9.19297324638358)"
2,2177,42,NaN,1.517013e+06,5.036278e+06,UNIVERSITA' DEGLI STUDI DI MILANO,ISTRUZIONE,UNIVERSITA',UNIVERSITA',PUBBLICA,...,VLE ABRUZZI 42,FARMACIA,FARMACIA,SEDE DIDATTICA,3,21,BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE,9.217327,45.479643,"(45.4796430022321, 9.21732651188301)"
3,2177,42,NaN,1.517013e+06,5.036278e+06,UNIVERSITA' DEGLI STUDI DI MILANO,ISTRUZIONE,UNIVERSITA',UNIVERSITA',PUBBLICA,...,VLE ABRUZZI 42,FARMACIA,CHIMICA FARMACEUTICA E TOSSICOLOGIA,EX ISTITUTO,3,21,BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE,9.217327,45.479643,"(45.4796430022321, 9.21732651188301)"
4,530,1,NaN,1.514607e+06,5.034225e+06,UNIVERSITA' DEGLI STUDI DI MILANO,ISTRUZIONE,UNIVERSITA',UNIVERSITA',PUBBLICA,...,PZA SANT' ALESSANDRO 1,LETTERE E FILOSOFIA,LINGUE E LETTERATURE STRANIERE,SEDE DIDATTICA,1,1,DUOMO,9.186477,45.461219,"(45.4612190660429, 9.18647705815211)"

In [108]:
uni_df=uni_df[['DENOMINAZ','PROPRIETA','LONG_X_4326', 'LAT_Y_4326']]
uni_len=len(uni_df)
uni_df.head()

                           DENOMINAZ PROPRIETA  LONG_X_4326  LAT_Y_4326
0  UNIVERSITA' DEGLI STUDI DI MILANO  PUBBLICA     9.188681   45.509230
1  UNIVERSITA' DEGLI STUDI DI MILANO  PUBBLICA     9.192973   45.455318
2  UNIVERSITA' DEGLI STUDI DI MILANO  PUBBLICA     9.217327   45.479643
3  UNIVERSITA' DEGLI STUDI DI MILANO  PUBBLICA     9.217327   45.479643
4  UNIVERSITA' DEGLI STUDI DI MILANO  PUBBLICA     9.186477   45.461219

### Pharmacies

In [109]:
farmacie_df = pd.read_csv('../datasets/ds501_elenco_farmacie_milano_final.csv', sep=';')
farmacie_df.head()

,CODICE_ASL,DENOM_ASL,CODICE_NAZIONALE,CODICE_REGIONALE,DENOM_FARMACIA,INDIRIZZO,LOCALITA,TELEFONO,FAX,EMAIL,CARATTERIZZAZIONE,PRENOTAZIONI_CONSENSO,ESENZIONI,MUNICIPIO,ID_NIL,NIL,LNG,LAT,LOCATION
0,308,ASL di Milano,2639,MI1735,Farmacia Imbriani SNC,"Via degli Imbriani, 28",Milano,0239311126,239312898.0,farma.imb@tin.it,urbana,True,True,9,77,BOVISA,9.168808,45.499746,"(45.499746, 9.168808)"
1,308,ASL di Milano,2655,MI1800,Farmacia Rocchi,VIA ALAMANNI 2,Milano,0257403150,256814465.0,farmacia.rocchi@fastwebnet.it,urbana,NaN,True,5,38,VIGENTINO - Q.RE FATIMA,9.200700,45.434277,"(45.434277, 9.2007)"
2,308,ASL di Milano,2625,MI0063,Farmacia Ambreck,"VIA STRADIVARI, 1",Milano,02-29526966,229406405.0,farmacia@ambreck.it,urbana,NaN,True,3,21,BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE,9.215779,45.484374,"(45.484374, 9.215779)"
3,308,ASL di Milano,2681,MI1661,Farmacia Carlo Erba Sas,"P.ZZA DUOMO, 21",Milano,0286464832,2878668.0,farmacia.carloerba@gmail.com,urbana,NaN,True,1,1,DUOMO,9.189570,45.464826,"(45.464826, 9.18957)"
4,308,ASL di Milano,2872,MI1320,Farmacia Fusco,"VIA BODONI, 19",Milano,0233002831,233006544.0,farmafusco@gmail.com,urbana,NaN,True,8,71,VILLAPIZZONE - CAGNOLA - BOLDINASCO,9.149238,45.493444,"(45.493444, 9.149238)"

In [110]:
farmacie_df=farmacie_df[['DENOM_FARMACIA','LNG','LAT']]
farmacie_len=len(farmacie_df)
farmacie_df.head()

            DENOM_FARMACIA       LNG        LAT
0    Farmacia Imbriani SNC  9.168808  45.499746
1          Farmacia Rocchi  9.200700  45.434277
2         Farmacia Ambreck  9.215779  45.484374
3  Farmacia Carlo Erba Sas  9.189570  45.464826
4           Farmacia Fusco  9.149238  45.493444

### Italian Schools

In [111]:
sita_df = pd.read_csv('../datasets/ds551_scuole_di_italiano_e_cpia_hac_loc_final_.csv', sep=';')
sita_df.head()

,Nome-associazione,tipo,permalink,indirizzo,eta',tipologia utenti 1,tipologia utenti 2,tipologia utenti 3,In regola con il permesso di soggiorno,requisito-alfabetizzazione,...,volontari,terzo-settore,privato,pubblico,cap,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,Itama,Terzo Settore,http://milano.italianostranieri.org/it/locatio...,"Via Pier Alessandro Paravia, 83",18,Mamma con bambino,Donne,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,20148.0,60.0,STADIO - IPPODROMI,9.135581,45.474631,"45.474631, 9.135581"
1,Scuola Popolare di Italiano per Stranieri di R...,Terzo Settore,http://milano.italianostranieri.org/it/locatio...,"Via Monte Peralba, 15",> 18,tutti,mamme con bambini,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,33.0,ROGOREDO - SANTA GIULIA,9.243735,45.432111,"45.4321115, 9.2437353"
2,Associazione Dimensioni Diverse,Terzo Settore,http://milano.italianostranieri.org/it/locatio...,"Via due Giugno, 4",18,Donne,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,20153.0,55.0,BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA,9.088530,45.462246,"45.4622458, 9.0885299"
3,Mamme a scuola Cadorna,Terzo Settore,http://milano.italianostranieri.org/it/locatio...,Via Dolci 5,18,Mamma con bambino,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,57.0,SAN SIRO,9.143549,45.471620,"45.4716198, 9.1435486"
4,Mamme a scuola Pizzigoni,Terzo Settore,http://milano.italianostranieri.org/it/locatio...,Via Mac Mahon 100,18,Mamma con bambino,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,71.0,VILLAPIZZONE - CAGNOLA - BOLDINASCO,9.156006,45.495474,"45.4954744, 9.1560059"

In [112]:
sita_df=sita_df[['Nome-associazione','tipo', 'LONG_X_4326', 'LAT_Y_4326']]
sita_len=len(sita_df)
sita_df.head()

,Nome-associazione,tipo,LONG_X_4326,LAT_Y_4326
0,Itama,Terzo Settore,9.135581,45.474631
1,Scuola Popolare di Italiano per Stranieri di R...,Terzo Settore,9.243735,45.432111
2,Associazione Dimensioni Diverse,Terzo Settore,9.088530,45.462246
3,Mamme a scuola Cadorna,Terzo Settore,9.143549,45.471620
4,Mamme a scuola Pizzigoni,Terzo Settore,9.156006,45.495474

### Family Counselling

In [113]:
consu_df = pd.read_csv('../datasets/ds560_consultori-privati-nel-comune-di-milano_b3eh-rm3t_final.csv', sep=';')
consu_df.head()

,COD_ASL,COD_STRUTTURA,DENOM_STRUTTURA,INDIRIZZO_UBICAZIONE,COD_ISTAT_COMUNE_UBICAZIONE,COMUNE_UBICAZIONE,CAP,PROV_COMUNE_UBICAZIONE,DENOM_GESTORE,P_IVA,...,COMUNE_SEDE_LEGALE,PROV_SEDE_LEGALE,NATURA_GIURIDICA,ONLUS,MUNICIPIO,ID_NIL,NIL,WGS84_Y,WGS84_X,location
0,308,308000006,LUISA RIVA,VIA ASCANIO SFORZA 75,15146,MILANO,20100,MI,ASSOCIAZIONE DONNA E MADRE E LEGATO MARIA PAOL...,1.401200e+09,...,MILANO,MI,ASSOCIAZIONE,SI,5,43,TIBALDI,45.442362,9.176205,"(45.44236164, 9.17620465)"
1,321,495,CONSULTORIO INTERDECANALE IL CAMINETTO - ONLUS,PIAZZA BRUZZANO 8,15146,MILANO,20100,MI,FONDAZIONE PER LA FAMIGLIA PROFUMO DI BETANIA ...,3.364670e+09,...,SARONNO,VA,FONDAZIONE,SI,9,83,BRUZZANO,45.527276,9.173891,"(45.52727595, 9.17389084)"
2,321,4813,CONSULTORIO FAMILIARE LUISA RIVA,VIA ASCANIO SFORZA 75,15146,MILANO,20100,MI,ASSOCIAZIONE DONNA E MADRE E LEGATO MARIA PAOL...,NaN,...,MILANO,MI,ASSOCIAZIONE,SI,5,43,TIBALDI,45.442362,9.176205,"(45.44236164, 9.17620465)"
3,321,479,CONSULTORIO INTERDECANALE DI VIALE RESTELLI,VIALE RESTELLI 25,15146,MILANO,20100,MI,FONDAZIONE G.B. GUZZETTI ONLUS,8.472781e+09,...,MILANO,MI,FONDAZIONE,SI,2,11,ISOLA,45.489997,9.196867,"(45.48999709, 9.1968672)"
4,321,510,CONSULTORIO PREMATRIMONIALE E MATRIMONIALE IST...,VIA PIETRO COLLETTA 31,15146,MILANO,20100,MI,ISTITUTO LA CASA,3.617601e+09,...,MILANO,MI,ASSOCIAZIONE,NO,4,27,PTA ROMANA,45.449729,9.209537,"(45.44972931, 9.20953745)"

In [114]:
consu_df = consu_df[['DENOM_STRUTTURA', 'WGS84_X', 'WGS84_Y']]
consu_len = len(consu_df)
consu_df.head()

                                     DENOM_STRUTTURA   WGS84_X    WGS84_Y
0                                         LUISA RIVA  9.176205  45.442362
1     CONSULTORIO INTERDECANALE IL CAMINETTO - ONLUS  9.173891  45.527276
2                   CONSULTORIO FAMILIARE LUISA RIVA  9.176205  45.442362
3        CONSULTORIO INTERDECANALE DI VIALE RESTELLI  9.196867  45.489997
4  CONSULTORIO PREMATRIMONIALE E MATRIMONIALE IST...  9.209537  45.449729

### Kindergarden

In [115]:
sinf_df = pd.read_csv('../datasets/ds672_scuoleinfanzia_.csv', sep=';')
sinf_df

,CODANNOSCOLASTICO,NOMINATIVO,CLASSEETA,GRADO,TIPO_STRUTTURA,FLAGPARITARIA,TIPO_VIA,INDIRIZZO,NUMEROCIVICO,NOME_LUNGO,...,TELEFONO,CAPIENZA,CODUNITAEDUCATIVA,CAP,ID_NIL,NIL,MUNICIPIO,LONG_WGS84,LAT_WGS84,Location
0,1819,"Ariberto, 12 Scuola Infanzia",Misti,Scuola dell'infanzia,Privato convenzionato,S,VIA,SAN VINCENZO,30,"Scuola dell'infanzia - Ariberto, 12 Scuola Inf...",...,NaN,123,1.0,20123,7.0,MAGENTA - S. VITTORE,1,9.174169,45.458499,"(45.4584988593, 9.17416851912)"
1,1819,PIO ISTITUTO BUON PASTORE,Misti,Scuola dell'infanzia,Ente religioso,S,VIA,SAN VITTORE,29,Scuola dell'infanzia - PIO ISTITUTO BUON PASTO...,...,02-48007174,0,NaN,20123,7.0,MAGENTA - S. VITTORE,1,9.169632,45.463443,"(45.4634431499, 9.1696323647)"
2,1819,MADRE CABRINI,Misti,Scuola dell'infanzia,Ente religioso,S,CORSO,DI PORTA ROMANA,105,Scuola dell'infanzia - MADRE CABRINI (Cso Di P...,...,02-5450920,0,NaN,20122,4.0,GUASTALLA,1,9.198924,45.454276,"(45.4542760424, 9.19892409768)"
3,1819,SUORE CANOSSIANE,Misti,Scuola dell'infanzia,Privato convenzionato,S,VIA,DELLA CHIUSA,9,Scuola dell'infanzia - SUORE CANOSSIANE (Via D...,...,02-58313640 - 02-58322578,0,81.0,20123,1.0,DUOMO,1,9.184498,45.457846,"(45.457846245, 9.18449821333)"
4,1819,ISTITUTO GIACOMO LEOPARDI - SANT'ANNA,Misti,Scuola dell'infanzia,Ente privato laico,S,VIA,ARENA,13,Scuola dell'infanzia - ISTITUTO GIACOMO LEOPAR...,...,02-89403482,0,NaN,20123,6.0,PORTA TICINESE - CONCA DEL NAVIGLIO,1,9.179353,45.455872,"(45.4558715769, 9.17935340899)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1819,De Curtis - Scuola Infanzia,Misti,Scuola dell'infanzia,Privato convenzionato,S,VIA,DE CURTIS ANTONIO,7,Scuola dell'infanzia - De Curtis - Scuola Infa...,...,NaN,102,11.0,20128,NaN,NaN,2,NaN,NaN,NaN
296,1819,Il Giardino degli Elfi,Misti,Scuola dell'infanzia,Ente privato laico,N,VIA,CIRILLO DOMENICO,16,Scuola dell'infanzia - Il Giardino degli Elfi ...,...,02-341196,0,85.0,20154,69.0,SARPI,1,9.173252,45.477711,"(45.4777109941, 9.17325157278)"
297,1819,"Caduti in Missione di Pace, 10 (Rubattino) - S...",Misti,Scuola dell'infanzia,Comunale,S,VIA,CADUTI IN MISSIONE DI PACE,10,Scuola dell'infanzia - Caduti in Missione di P...,...,NaN,100,17.0,20134,23.0,LAMBRATE - ORTICA,3,9.250887,45.478005,"(45.4780047769, 9.25088674554)"
298,1819,CANADIAN SCHOOL OF MILAN,Misti,Scuola dell'infanzia,Ente privato laico,N,VIA,GIOIA MELCHIORRE,42,Scuola dell'infanzia - CANADIAN SCHOOL OF MILA...,...,02-67074775,0,NaN,20124,10.0,STAZIONE CENTRALE - PONTE SEVESO,2,9.199135,45.487634,"(45.4876338285, 9.1991351883)"
299,1819,ST.LOUIS SCHOOL,Misti,Scuola dell'infanzia,Ente privato laico,N,VIA,COLONNA MARCOANTONIO,24,Scuola dell'infanzia - ST.LOUIS SCHOOL (Via Co...,...,02-55231243,0,NaN,20149,NaN,NaN,8,NaN,NaN,NaN

In [116]:
sinf_df=sinf_df[['NOMINATIVO', 'TIPO_STRUTTURA','LONG_WGS84', 'LAT_WGS84']]
sinf_len=len(sinf_df)
sinf_df.head()

,NOMINATIVO,TIPO_STRUTTURA,LONG_WGS84,LAT_WGS84
0,"Ariberto, 12 Scuola Infanzia",Privato convenzionato,9.174169,45.458499
1,PIO ISTITUTO BUON PASTORE,Ente religioso,9.169632,45.463443
2,MADRE CABRINI,Ente religioso,9.198924,45.454276
3,SUORE CANOSSIANE,Privato convenzionato,9.184498,45.457846
4,ISTITUTO GIACOMO LEOPARDI - SANT'ANNA,Ente privato laico,9.179353,45.455872

### Addiction Counselling

In [117]:
serd_df = pd.read_csv('../datasets/ds1324_serd_servizi-per-le-dipendenze-patologiche.csv', sep=';')
serd_df.head()

,DENOMINAZIONE STRUTTURA,INDIRIZZO,TELEFONO SEGRETERIA,INDIRIZZO EMAIL,SITO WEB,ASST,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,SERD GOLA,Via Gola 24,02 81845180,serd.gola@asst-santipaolocarlo.it,www.asst-santipaolocarlo.it,SANTI PAOLO E CARLO,6,44,PORTA TICINESE - CONCHETTA,9.173628,45.448992,"(45.44899200000003, 9.173628000000065)"
1,SERD FORZE ARMATE,Via Forze Armate 381,02 81845239,serd.forzearmate@asst-santipaolocarlo.it,www.asst-santipaolocarlo.it,SANTI PAOLO E CARLO,7,55,BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA,9.092817,45.460557,"(45.46055700000005, 9.092817000000025)"
2,SERD ALBENGA,Via Albenga 2/A,02 81845223,serd.albenga@asst-santipaolocarlo.it,www.asst-santipaolocarlo.it,SANTI PAOLO E CARLO,7,60,STADIO - IPPODROMI,9.119313,45.474075,"(45.47407500000003, 9.119313000000034)"
3,SERD BOIFAVA,Via Boifava 25,02 81845361,serd.boifava@asst-santipaolocarlo.it,www.asst-santipaolocarlo.it,SANTI PAOLO E CARLO,5,42,STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA...,9.175613,45.427446,"(45.42744600000003, 9.175612500000057)"
4,NOA BARONI,Via Baroni 48,02 81845310,noa.baroni@asst-santipaolocarlo.it,www.asst-santipaolocarlo.it,SANTI PAOLO E CARLO,5,38,VIGENTINO - Q.RE FATIMA,9.205328,45.432001,"(45.432000910000056, 9.205328033000058)"

In [118]:
serd_df=serd_df[['DENOMINAZIONE STRUTTURA', 'LONG_X_4326', 'LAT_Y_4326']]
serd_len=len(serd_df)
serd_df.head()

  DENOMINAZIONE STRUTTURA  LONG_X_4326  LAT_Y_4326
0               SERD GOLA     9.173628   45.448992
1       SERD FORZE ARMATE     9.092817   45.460557
2            SERD ALBENGA     9.119313   45.474075
3            SERD BOIFAVA     9.175613   45.427446
4              NOA BARONI     9.205328   45.432001

### Elementary school

In [119]:
sprim_df = pd.read_csv('../datasets/dst_an_statistica_totale_202209211022-2122_loc-scuola-primaria.csv', sep=';')
sprim_df.head()

,ANNOSCOL,CODICE,DENOMINAZIONE,GRADO,TIPO,PARITARIA,INDIRIZZO,CODVIA,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,1415,2000,PAOLO E LARISSA PINI,Scuola primaria,Statale,No,Via STEFANARDO DA VIMERCATE 14,2456.0,2.0,16,GORLA - PRECOTTO,9.226482,45.506341,"(45.5063408362, 9.22648224656)"
1,1415,2002,ISTITUTO GIACOMO LEOPARDI,Scuola primaria,Ente privato laico,SI,Via ARENA 13,5182.0,1.0,6,PORTA TICINESE - CONCA DEL NAVIGLIO,9.179353,45.455872,"(45.4558715769, 9.17935340899)"
2,1415,2003,ARIBERTO DA INTIMIANO - SANTA MADDALENA DI CAN...,Scuola primaria,Statale,No,Via ARIBERTO DA INTIMIANO 14,5092.0,1.0,7,MAGENTA - S. VITTORE,9.173278,45.458855,"(45.458854609, 9.17327758799)"
3,1415,2005,PIO ISTITUTO BUON PASTORE,Scuola primaria,Ente religioso,SI,Via SAN VITTORE 29,647.0,1.0,7,MAGENTA - S. VITTORE,9.169632,45.463443,"(45.4634431499, 9.1696323647)"
4,1415,2006,COLLEGIO SAN CARLO,Scuola primaria,Ente religioso,SI,Corso MAGENTA 71,604.0,1.0,7,MAGENTA - S. VITTORE,9.169772,45.465582,"(45.4655815315, 9.16977229797)"

In [120]:
sprim_df=sprim_df[['DENOMINAZIONE', 'TIPO', 'LONG_X_4326', 'LAT_Y_4326']]
sprim_len=len(sprim_df)
sprim_df.head()

,DENOMINAZIONE,TIPO,LONG_X_4326,LAT_Y_4326
0,PAOLO E LARISSA PINI,Statale,9.226482,45.506341
1,ISTITUTO GIACOMO LEOPARDI,Ente privato laico,9.179353,45.455872
2,ARIBERTO DA INTIMIANO - SANTA MADDALENA DI CAN...,Statale,9.173278,45.458855
3,PIO ISTITUTO BUON PASTORE,Ente religioso,9.169632,45.463443
4,COLLEGIO SAN CARLO,Ente religioso,9.169772,45.465582

### Middle School

In [121]:
ssec_df = pd.read_csv('../datasets/dst_an_statistica_totale_202209211022-2122_loc-scuola-secondaria.csv', sep=';')
ssec_df.head()

,ANNOSCOL,CODICE,DENOMINAZIONE,GRADO,TIPO,PARITARIA,INDIRIZZO,CODVIA,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,1415,3002,LUCA BELTRAMI,Scuola secondaria,Statale,No,Piazza GUGLIELMO MASSAIA 2,559.0,1.0,1,DUOMO,9.181341,45.461671,"(45.4616707127, 9.181341281)"
1,1415,3003,LUIGI CAGNOLA,Scuola secondaria,Statale,No,Via SOLFERINO 52,1028.0,1.0,2,BRERA,9.188784,45.479491,"(45.4794908375, 9.18878445105)"
2,1415,3004,CAVALIERI BONAVENTURA,Scuola secondaria,Statale,No,Via ANCO MARZIO 9,6231.0,1.0,7,MAGENTA - S. VITTORE,9.170282,45.459829,"(45.4598291005, 9.17028238923)"
3,1415,3005,GIUSEPPE VERDI,Scuola secondaria,Statale,No,Via FILIPPO CORRIDONI 34,3020.0,1.0,4,GUASTALLA,9.203841,45.463535,"(45.4635347875, 9.20384126085)"
4,1415,3006,LUIGI MAJNO,Scuola secondaria,Statale,No,Corso DI PORTA ROMANA 112,402.0,1.0,5,PORTA VIGENTINA - PORTA LODOVICA,9.198227,45.454485,"(45.454484756, 9.19822697807)"

In [122]:
ssec_df=ssec_df[['DENOMINAZIONE', 'TIPO', 'LONG_X_4326', 'LAT_Y_4326']]
ssec_len=len(ssec_df)
ssec_df.head()

           DENOMINAZIONE     TIPO  LONG_X_4326  LAT_Y_4326
0          LUCA BELTRAMI  Statale     9.181341   45.461671
1          LUIGI CAGNOLA  Statale     9.188784   45.479491
2  CAVALIERI BONAVENTURA  Statale     9.170282   45.459829
3         GIUSEPPE VERDI  Statale     9.203841   45.463535
4            LUIGI MAJNO  Statale     9.198227   45.454485

### Newsstand

In [123]:
edicole_df = pd.read_csv('../datasets/edicole.csv', sep=';')
edicole_df.head()

,Codice,Ubicazione,Area di Competenza,DescrizioneVia,Civico,CodiceVia,Localita,forma_vendita_edicole,vendita_esclusiva,CAP,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,ED/3044,VIALE FAMAGOSTA N. 56 (z.d. 6),AREE PUBBLICHE - Giornali e riviste,VIALE FAMAGOSTA,56,5353.0,NaN,rivendita in supermercato,No,20142.0,6.0,46.0,BARONA,9.167505,45.437121,"(45.4371214488939, 9.16750549367106)"
1,ED/2948,Viale UMBRIA N. 28 (z.d. 4),AREE PUBBLICHE - Giornali e riviste,Viale UMBRIA,28,3145.0,NaN,rivendita in supermercato,No,20135.0,4.0,28.0,UMBRIA - MOLISE - CALVAIRATE,9.212785,45.450235,"(45.4502345606, 9.21278494068)"
2,ED/2887,Via MECENATE N. 2 (z.d. 4),AREE PUBBLICHE - Giornali e riviste,Via MECENATE,2,3323.0,NaN,rivendita in negozio,Si,20138.0,4.0,30.0,TALIEDO - MORSENCHIO - Q.RE FORLANINI,9.242266,45.456869,"(45.4568691836, 9.24226558714)"
3,ED/2908,Via PISINO N. 1 ang. via asiago (z.d. 2),AREE PUBBLICHE - Giornali e riviste,Via PISINO,1,2460.0,ang. via asiago,rivendita in negozio,Si,20128.0,2.0,16.0,GORLA - PRECOTTO,9.228569,45.505852,"(45.5058519, 9.22856895832)"
4,ED/2999,Via TRAIANO MARCO ULPIO N. 11 ang. via teodori...,AREE PUBBLICHE - Giornali e riviste,Via TRAIANO MARCO ULPIO,11,7157.0,ANG. VIA TEODORICO,edicola su suolo pubblico,No,20149.0,8.0,67.0,PORTELLO,9.151691,45.485193,"(45.485193484, 9.1516912608)"

In [124]:
edicole_df=edicole_df[['Ubicazione','LONG_X_4326', 'LAT_Y_4326']]
edicole_len=len(edicole_df)
edicole_df.head()

                                          Ubicazione  LONG_X_4326  LAT_Y_4326
0                     VIALE FAMAGOSTA N. 56 (z.d. 6)     9.167505   45.437121
1                        Viale UMBRIA N. 28 (z.d. 4)     9.212785   45.450235
2                         Via MECENATE N. 2 (z.d. 4)     9.242266   45.456869
3           Via PISINO N. 1 ang. via asiago (z.d. 2)     9.228569   45.505852
4  Via TRAIANO MARCO ULPIO N. 11 ang. via teodori...     9.151691   45.485193

### Stores

In [125]:
distr_df = pd.read_csv('../datasets/grande_distribuzione.csv', sep=',')
distr_df.head()

,_id,Codice,Ubicazione,Area di Competenza,DescrizioneVia,Civico,CodiceVia,insegna,settore_merceologico,settore_storico_cf_n,...,settore_storico_cf_s,superficie_totale,superficie_vendita,CAP,ID_NIL,NIL,MUNICIPIO,LONG_WGS84,LAT_WGS84,Location
0,1,C-EV/17620,Via VENINI GIULIO E CORRADO N. 46| isolato:346...,VENDITA - In sede fissa,Via VENINI GIULIO E CORRADO,46,2258.0,NaN,non alimentare,NaN,...,xii sub 2|xii sub 1|x|xii sub 3,273.0,251,20127.0,20.0,LORETO,2.0,9.215730,45.490859,"45.4908592205, 9.21573025945"
1,2,C-EV/49066,Via SANDRI SANDRO N. 2| isolato:179| accesso: ...,VENDITA - In sede fissa,Via SANDRI SANDRO,2,1046.0,NaN,non alimentare,|(con esclusione di giornali e riviste),...,xii-radio e tv|xiv prod. culturali arte e col|...,251.0,251,20121.0,2.0,BRERA,1.0,9.192669,45.475107,"45.475106513, 9.19266934526"
2,3,C-EV/43378,Via VILLAPIZZONE num.012| isolato:171| accesso...,VENDITA - In sede fissa,Via VILLAPIZZONE,NaN,7272.0,verzeri,non alimentare,|cartoleria cancelleria giocattoli macchine e ...,...,xiii (libri)|xiv,252.0,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,C-EV/31778,Via SARPI FRA' PAOLO N. 44| isolato:073| acces...,VENDITA - In sede fissa,Via SARPI FRA' PAOLO,44,7210.0,NaN,alimentare|non alimentare,NaN,...,surgelati|iii (cont.antec. d.m. 27/6/86)|xii s...,252.0,252,20154.0,69.0,SARPI,8.0,9.174148,45.481307,"45.4813065886, 9.17414836917"
4,5,C-EV/46073,Via MUSSI GIUSEPPE N. 5| isolato:056| accesso:...,VENDITA - In sede fissa,Via MUSSI GIUSEPPE,5,7199.0,riparaz. contachilometri,non alimentare,NaN,...,xiv-contach.access.iner.volan.,252.0,252,20154.0,69.0,SARPI,8.0,9.166031,45.481957,"45.4819567894, 9.16603062658"

In [126]:
distr_df=distr_df[['insegna', 'settore_merceologico', 'LONG_WGS84', 'LAT_WGS84']]
distr_len=len(distr_df)
distr_df.head()

                    insegna       settore_merceologico  LONG_WGS84  LAT_WGS84
0                       NaN             non alimentare    9.215730  45.490859
1                       NaN             non alimentare    9.192669  45.475107
2                   verzeri             non alimentare         NaN        NaN
3                       NaN  alimentare|non alimentare    9.174148  45.481307
4  riparaz. contachilometri             non alimentare    9.166031  45.481957

### Public WIFI

In [127]:
wifi_df = pd.read_csv('../datasets/openwifi_layer_0_open_wifi_outdoor_4326_final.csv', sep=';')
wifi_df.head()

,OBJECTID,Area,Funzionante,VIA___P_zza___Corso,Indirizzo,Civico,Città,CAP,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,1,Piazza San Gioachimo,SI,Via,Viviani,2,MILANO,20124.0,2.0,10.0,STAZIONE CENTRALE - PONTE SEVESO,9.19779,45.48121,"(45.48121000000003, 9.197790000000055)"
1,2,Lagosta,SI,Viale,Zara,2,MILANO,20124.0,2.0,11.0,ISOLA,9.19155,45.48994,"(45.48994000000005, 9.191550000000063)"
2,9,Piazzale Segrino,SI,Piazzale,Segrino,2,MILANO,20159.0,9.0,11.0,ISOLA,9.18930,45.49010,"(45.49010000000004, 9.18930000000006)"
3,10,Via G.B. Pirelli,SI,Via,del Borromeo,NaN,MILANO,20124.0,9.0,9.0,PORTA GARIBALDI - PORTA NUOVA,9.19607,45.48522,"(45.48522000000003, 9.196070000000077)"
4,15,G.ni Montello,SI,Viale,Montello,8,MILANO,20154.0,1.0,69.0,SARPI,9.18121,45.48093,"(45.48093000000006, 9.181210000000021)"

In [128]:
wifi_df=wifi_df[['Area', 'LONG_X_4326', 'LAT_Y_4326']]
wifi_len=len(wifi_df)
wifi_df.head()

                   Area  LONG_X_4326  LAT_Y_4326
0  Piazza San Gioachimo      9.19779    45.48121
1               Lagosta      9.19155    45.48994
2      Piazzale Segrino      9.18930    45.49010
3      Via G.B. Pirelli      9.19607    45.48522
4         G.ni Montello      9.18121    45.48093

### Parchi

In [129]:
parchi_df = pd.read_csv('../datasets/parchi_giardini.csv', sep=',')
parchi_df.head()

,_id,ZONA,CODICE_AREA,AREA_MQ,PERIM_M,PARCO,LONG_X_4326_CENTROID,LAT_Y_4326_CENTROID,Location
0,1,6,233,49230.077148,1250.112521,PARCO DELLE CROCEROSSINE,9.123539,45.450540,"(45.450540350583, 9.123538873757788)"
1,2,9,97,1451.261719,155.573346,GIARDINO VIA PORRO JENNER,9.179612,45.496733,"(45.49673274762278, 9.179612184430283)"
2,3,1,92,351.915039,76.270063,GIARDINO ROBERTO BAZLEN,9.197675,45.453966,"(45.45396567857214, 9.197674637015329)"
3,4,2,119,973.018555,449.585187,GIARDINO ALDO PROTTI,9.200186,45.493943,"(45.493943233013376, 9.200185684311482)"
4,5,7,338,1640.686523,196.330801,PARCO ANNARUMMA,9.118195,45.460160,"(45.460159863066025, 9.118195341433292)"

In [130]:
parchi_df=parchi_df[['PARCO', 'AREA_MQ', 'LONG_X_4326_CENTROID', 'LAT_Y_4326_CENTROID']]
parchi_len=len(parchi_df)
parchi_df.head()

,PARCO,AREA_MQ,LONG_X_4326_CENTROID,LAT_Y_4326_CENTROID
0,PARCO DELLE CROCEROSSINE,49230.077148,9.123539,45.450540
1,GIARDINO VIA PORRO JENNER,1451.261719,9.179612,45.496733
2,GIARDINO ROBERTO BAZLEN,351.915039,9.197675,45.453966
3,GIARDINO ALDO PROTTI,973.018555,9.200186,45.493943
4,PARCO ANNARUMMA,1640.686523,9.118195,45.460160

### Train stations

In [131]:
treni_df = pd.read_csv('../datasets/sistema_ferroviario_urbano_layer_0_stazioni__final.csv', sep=';')
treni_df.head()

,Stazione,Ubicazione,Linee,Note,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,Milano Lancetti,Sotterranea,S1 S2 S5 S6 S13,Dati indicativi non ufficiali.,9,78,FARINI,9.177123,45.493741,"(45.4937410910517, 9.17712322085963)"
1,Milano Centrale,Superficie,Interregionali,Dati indicativi non ufficiali.,2,10,STAZIONE CENTRALE - PONTE SEVESO,9.204197,45.486161,"(45.486161235226, 9.20419675790644)"
2,Milano Porta Garibaldi Sup.,Superficie,S11,Dati indicativi non ufficiali.,9,9,PORTA GARIBALDI - PORTA NUOVA,9.186751,45.485593,"(45.485593393828, 9.1867506782341)"
3,Milano Lambrate,Superficie,S9,Dati indicativi non ufficiali.,3,22,CITTA' STUDI,9.236898,45.484872,"(45.4848723299094, 9.23689818170729)"
4,Milano Porta Garibaldi Sott.,Sotterranea,S1 S2 S5 S6 S13,Dati indicativi non ufficiali.,9,9,PORTA GARIBALDI - PORTA NUOVA,9.186162,45.484334,"(45.4843344249528, 9.18616229197573)"

In [132]:
treni_df=treni_df[['Stazione', 'Linee', 'LONG_X_4326', 'LAT_Y_4326']]

### Metro stations

In [133]:
metro_df = pd.read_csv('../datasets/tpl_metrofermate.csv', sep=';')
metro_df.head()

,id_amat,nome,linee,LONG_X_4326,LAT_Y_4326,Location
0,889,TRE TORRI,5,9.156675,45.478140,"(45.4781401846813, 9.15667532734003)"
1,890,ZARA,"3,5",9.192601,45.492664,"(45.4926644010357, 9.1926011078845)"
2,891,WAGNER,1,9.155914,45.467950,"(45.4679501010405, 9.15591440789603)"
3,892,VIMODRONE,2,9.285989,45.515783,"(45.5157833010269, 9.28598910784986)"
4,893,VILLA S.G.,1,9.226130,45.517455,"(45.517454501031, 9.22613020787426)"

In [134]:
metro_df=metro_df[['nome', 'linee', 'LONG_X_4326', 'LAT_Y_4326']]
metro_len=len(metro_df)
metro_df.head()

         nome linee  LONG_X_4326  LAT_Y_4326
0   TRE TORRI     5     9.156675   45.478140
1        ZARA   3,5     9.192601   45.492664
2      WAGNER     1     9.155914   45.467950
3   VIMODRONE     2     9.285989   45.515783
4  VILLA S.G.     1     9.226130   45.517455

### Post office

In [135]:
posta_df = pd.read_csv('../datasets/uffici_postali.csv', sep=',')
posta_df.head()

,_id,Ente,Indirizzo,Telefono,Fax,CAP,MUNICIPIO,ID_NIL,NIL,LONG_X_4326,LAT_Y_4326,Location
0,1,Ufficio PT,"BASTIONI DI PORTA VOLTA, 7",02-6572655,02-29002004,20121,1,2,BRERA,9.182151,45.479601,"(45.47960100000006, 9.182151000000033)"
1,2,Ufficio PT,"CORSO DI PORTA VIGENTINA, 35",02-58320771,02-58319779,20122,1,5,PORTA VIGENTINA - PORTA LODOVICA,9.196520,45.452538,"(45.45253800000006, 9.196519500000022)"
2,3,Ufficio PT,"CORSO ITALIA, 16",02-804336,02-86454450,20122,1,1,DUOMO,9.187470,45.457893,"(45.45789300000007, 9.187470000000076)"
3,4,Ufficio PT,"CORSO SEMPIONE, 94",NaN,NaN,20154,8,69,SARPI,9.158508,45.486540,"(45.48654000000005, 9.15850800000004)"
4,5,Ufficio PT,"CORSO VENEZIA, 42",02-76023056,02-7837251,20121,1,4,GUASTALLA,9.202703,45.471861,"(45.47186100000005, 9.202702500000044)"

In [136]:
posta_df=posta_df[['Indirizzo', 'LONG_X_4326', 'LAT_Y_4326']]
posta_len=len(posta_df)
posta_df.head()

                      Indirizzo  LONG_X_4326  LAT_Y_4326
0    BASTIONI DI PORTA VOLTA, 7     9.182151   45.479601
1  CORSO DI PORTA VIGENTINA, 35     9.196520   45.452538
2              CORSO ITALIA, 16     9.187470   45.457893
3            CORSO SEMPIONE, 94     9.158508   45.486540
4             CORSO VENEZIA, 42     9.202703   45.471861

All dataframes names for future reference

acqua_df
biblio_df
ciclabili_df
consu_df
cult_df
distr_df
edicole_df
farmacie_df
metro_df
parchi_df
posta_df
serd_df
sinf_df
sita_df
sport_df
sprim_df
ss2_df
ssec_df
treni_df
uni_df
wifi_df

In [137]:
df_list=[acqua_df, biblio_df, ciclabili_df, consu_df, cult_df, distr_df, edicole_df, farmacie_df, metro_df, parchi_df, posta_df, serd_df, sinf_df ,sita_df ,sport_df ,sprim_df ,ss2_df ,ssec_df ,treni_df ,uni_df, wifi_df]

The following cell creates a dictionary with dataframes names and assignes them.

In [138]:
df_names_dict = {
    'acqua_df': acqua_df,
    'biblio_df': biblio_df,
    'ciclabili_df': ciclabili_df,
    'consu_df': consu_df,
    'cult_df': cult_df,
    'distr_df': distr_df,
    'edicole_df': edicole_df,
    'farmacie_df': farmacie_df,
    'metro_df': metro_df,
    'parchi_df': parchi_df,
    'posta_df': posta_df,
    'serd_df': serd_df,
    'sinf_df': sinf_df,
    'sita_df': sita_df,
    'sport_df': sport_df,
    'sprim_df': sprim_df,
    'ss2_df': ss2_df,
    'ssec_df': ssec_df,
    'treni_df': treni_df,
    'uni_df': uni_df,
    'wifi_df': wifi_df
}

for key, value  in df_names_dict.items():
    value.name=key[:-3]

# Dataset creation

In [139]:
def create_lengths_dataset(list):
    """
    This function creates a dataset with the lengths of the varius indiivudal dataset. It will be used to check that no data is lost doring the data cleaning process.
    :param list: list of the datasets to include
    :return: dataset with names and number of elements
    """
    names_col=[]
    len_col=[]
    for dataframe in list:
        nam_dataset=dataframe.name
        len_dataset=len(dataframe)
        names_col.append(nam_dataset)
        len_col.append(len_dataset)
    df = pd.DataFrame({'DF_names': names_col, 'DF_len': len_col})
    print('Total number of elements:',sum(len_col))
    return df

In [140]:
create_lengths_dataset(df_list)

Total number of elements: 13275

     DF_names  DF_len
0       acqua      52
1      biblio      26
2   ciclabili    3722
3       consu      21
4        cult     322
5       distr    1027
6     edicole     577
7    farmacie     414
8       metro     110
9      parchi    1065
10      posta      82
11       serd      15
12       sinf     300
13       sita     115
14      sport    1041
15      sprim    1734
16        ss2     174
17       ssec    1146
18      treni      24
19        uni     711
20       wifi     597

In [141]:
def rename(df):
    df_list_col=list(df.columns)
    df_num_col=len(list(df.columns))
    if df_num_col==3:
        df.columns=['name', 'long', 'lat']
    if df_num_col==4:
        df.columns=['name','cat1','long', 'lat']
        df['cat1_name']=df_list_col[1]
    if df_num_col==5:
        df.columns=['name','cat1', 'cat2', 'long', 'lat']
        df['cat1_name']=df_list_col[1]
        df['cat2_name']=df_list_col[2]
    df['df_name']=df.name
    return df

In [142]:
df_list=[rename(dataset) for dataset in df_list]
merged_df=pd.concat(df_list, axis=0)
merged_df.head()

C:\Users\iodio\AppData\Local\Temp\ipykernel_18448\2602432827.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cat1_name']=df_list_col[1]
C:\Users\iodio\AppData\Local\Temp\ipykernel_18448\2602432827.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['df_name']=df.name

,name,long,lat,df_name,cat1,cat2,cat1_name,cat2_name
0,FORZE ARMATE,9.107364,45.456290,acqua,NaN,NaN,NaN,NaN
1,LORENTEGGIO,9.125151,45.458188,acqua,NaN,NaN,NaN,NaN
2,BANDE NERE,9.136149,45.461792,acqua,NaN,NaN,NaN,NaN
3,GIAMBELLINO,9.153322,45.452348,acqua,NaN,NaN,NaN,NaN
4,GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE,9.171006,45.408128,acqua,NaN,NaN,NaN,NaN

In [145]:
merged_df.to_csv('../outputs/services_df.csv')