In [1]:
import pandas as pd

## Constructing fixed dataset

We encountered some problems in geocoding of `distr_df`, we recalculateed all distances for this dataset using `calculator_fixer.py`. In this notebook we merge the newly created dataset with the existing one

In [2]:
calc_df=pd.read_csv('../outputs/calc_dataset.csv', low_memory=False)
calc_df=calc_df.drop(['Unnamed: 0',], axis=1)
calc_df.head()

,name,long,lat,df_name,cat1,cat2,cat1_name,cat2_name,10001708,10001709,...,51039101,51039401,51039402,51039403,51039404,51039405,51039406,51039407,51039408,51039410
0,FORZE ARMATE,9.107364,45.456290,acqua,NaN,NaN,NaN,NaN,7540.1,7540.1,...,4609.7,8467.6,8467.6,8467.6,8467.6,8467.6,8467.6,8467.6,8467.6,8467.6
1,LORENTEGGIO,9.125151,45.458188,acqua,NaN,NaN,NaN,NaN,6445.5,6445.5,...,3735.9,7593.8,7593.8,7593.8,7593.8,7593.8,7593.8,7593.8,7593.8,7593.8
2,BANDE NERE,9.136149,45.461792,acqua,NaN,NaN,NaN,NaN,5797.8,5797.8,...,3165.9,7023.8,7023.8,7023.8,7023.8,7023.8,7023.8,7023.8,7023.8,7023.8
3,GIAMBELLINO,9.153322,45.452348,acqua,NaN,NaN,NaN,NaN,4673.6,4673.6,...,3846.8,7651.5,7651.5,7651.5,7651.5,7651.5,7651.5,7651.5,7651.5,7651.5
4,GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE,9.171006,45.408128,acqua,NaN,NaN,NaN,NaN,5655.9,5655.9,...,8094.3,10803.3,10803.3,10803.3,10803.3,10803.3,10803.3,10803.3,10803.3,10803.3

In [3]:
distr_df=pd.read_csv('../outputs/fixed_dataset.csv', low_memory=False)
distr_df=distr_df.drop(['Unnamed: 0',], axis=1)
distr_df

,name,long,lat,df_name,cat1,cat2,cat1_name,cat2_name,10001708,10001709,...,51039101,51039401,51039402,51039403,51039404,51039405,51039406,51039407,51039408,51039410
0,NaN,9.215730,45.490859,distr,non alimentare,NaN,settore_merceologico,NaN,3715.7,3715.7,...,5219.2,5117.1,5117.1,5117.1,5117.1,5117.1,5117.1,5117.1,5117.1,5117.1
1,NaN,9.192669,45.475107,distr,non alimentare,NaN,settore_merceologico,NaN,3227.0,3227.0,...,3868.7,5256.0,5256.0,5256.0,5256.0,5256.0,5256.0,5256.0,5256.0,5256.0
2,verzeri,NaN,NaN,distr,non alimentare,NaN,settore_merceologico,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,9.174148,45.481307,distr,alimentare|non alimentare,NaN,settore_merceologico,NaN,4480.2,4480.2,...,2663.2,4789.7,4789.7,4789.7,4789.7,4789.7,4789.7,4789.7,4789.7,4789.7
4,riparaz. contachilometri,9.166031,45.481957,distr,non alimentare,NaN,settore_merceologico,NaN,4809.1,4809.1,...,2140.9,5045.4,5045.4,5045.4,5045.4,5045.4,5045.4,5045.4,5045.4,5045.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022,NaN,NaN,NaN,distr,NaN,NaN,settore_merceologico,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,la rinascente s.p.a.,9.191865,45.465372,distr,Alimentare|Non Alimentare,NaN,settore_merceologico,NaN,2627.3,2627.3,...,4258.5,5986.6,5986.6,5986.6,5986.6,5986.6,5986.6,5986.6,5986.6,5986.6
1024,NaN,NaN,NaN,distr,NaN,NaN,settore_merceologico,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1025,NaN,NaN,NaN,distr,alimentare|non alimentare,NaN,settore_merceologico,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026,NaN,NaN,NaN,distr,Alimentare|Non Alimentare|Tabella speciale Far...,NaN,settore_merceologico,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#replacing distr_df as they were not correctly geocoded
calc_df_fixed = calc_df.drop(calc_df[calc_df.df_name=='distr'].index)
calc_df_fixed = pd.concat([calc_df_fixed, distr_df])
print('Fixed and original dataset have same lenght?', len(calc_df_fixed)==len(calc_df))
if len(calc_df_fixed)==len(calc_df):
    calc_df_fixed.to_csv('../outputs/calc_fixed_df.csv', index=False)

Fixed and original dataset have same lenght? True